<div class="col-sm-12 col-lg-6" style="WIDTH: 133%;">
  <div class="row"  style="WIDTH: 133%;">
    <div class="col-lg-4">
      <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-success border-success">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content pt-3 pl-3 pb-1">
            <div class="widget-chart-flex">
              <div class="widget-numbers">
                <div class="widget-chart-flex">
                  <div class="fsize-4">
                    <span class="text-center">{{valTotal}}</span></div>
                    <!--small class="opacity-5">$</small-->
                    
                </div>
              </div>
            </div>
            <h6 class="widget-subheading mb-0 opacity-5" style="color: black;">Nombre Total des commandes à travailler </h6>
          </div>
        </div>
      </div>
    </div>



    <div class="col-lg-4">
      <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-primary border-primary">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content pt-3 pl-3 pb-1">
            <div class="widget-chart-flex">
              <div class="widget-numbers">
                <div class="widget-chart-flex">
                  <div class="fsize-4">
                    <span class="text-center">{{valAtten}}</span></div>
                    <!--small class="opacity-5">$</small-->
                    
                </div>
              </div>
            </div>
            <h6 class="widget-subheading mb-0 opacity-5" style="color: black;">Nombre des commandes en attente</h6>
          </div>
        </div>
      </div>
    </div>






    <div class="col-lg-4">
      <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-warning border-warning">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content pt-3 pl-3 pb-1">
            <div class="widget-chart-flex">
              <div class="widget-numbers">
                <div class="widget-chart-flex">
                  <div class="fsize-4">
                    <span class="text-center">{{valCours}}</span></div>
                    <!--small class="opacity-5">$</small-->
                    
                </div>
              </div>
            </div>
            <h6 class="widget-subheading mb-0 opacity-5" style="color: black;">Nombre des commandes en cours</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


    
  <div class="row"  style="WIDTH: 133%;">
    <div class="col-lg-4">
      <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-success border-success">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content pt-3 pl-3 pb-1">
            <div class="widget-chart-flex">
              <div class="widget-numbers">
                <div class="widget-chart-flex">
                  <div class="fsize-4">
                    <span class="text-center">{{valTerm}}</span></div>
                    <!--small class="opacity-5">$</small-->
                    
                </div>
              </div>
            </div>
            <h6 class="widget-subheading mb-0 opacity-5" style="color: black;">Nombre des commandes terminées</h6>
          </div>
        </div>
      </div>
    </div>



    <div class="col-lg-4">
      <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-info border-info">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content pt-3 pl-3 pb-1">
            <div class="widget-chart-flex">
              <div class="widget-numbers">
                <div class="widget-chart-flex">
                  <div class="fsize-4">
                    <span class="text-center">{{valprod}}</span></div>
                    <!--small class="opacity-5">$</small-->
                    
                </div>
              </div>
            </div>
            <h6 class="widget-subheading mb-0 opacity-5" style="color: black;">Nombre des produits dispo en stock</h6>
          </div>
        </div>
      </div>
    </div>



    <div class="col-lg-4">
      <div class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-danger border-danger">
        <div class="widget-chat-wrapper-outer">
          <div class="widget-chart-content pt-3 pl-3 pb-1">
            <div class="widget-chart-flex">
              <div class="widget-numbers">
                <div class="widget-chart-flex">
                  <div class="fsize-4">
                    <span class="text-center">{{valfini}}</span></div>
                    <!--small class="opacity-5">$</small-->
                    
                </div>
              </div>
            </div>
            <h6 class="widget-subheading mb-0 opacity-5" style="color: black;">Nombre des produits en fin de stock</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




































