<!-- 
                    

<mat-toolbar >
    <mat-toolbar-row fxLayout="row">
       <span class ="title-center">forgot password ?</span>
    </mat-toolbar-row>
</mat-toolbar>
 
    <form [formGroup]="ForgotPasswordForm">
        <div fxFill fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <mat-label>email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="ForgotPasswordForm.controls.email.touched && ForgotPasswordForm.controls.name.invalid">
                     <span *ngIf="ForgotPasswordForm.controls.email.errors.required">this field is mandatory</span>
                     <span *ngIf="ForgotPasswordForm.controls.email.errors.pattern">this field is invalid</span>
                </mat-error>
                
            </mat-form-field>
        </div>
    </form>
 

<div style="text-align;center">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
    [disabled]="!(ForgotPasswordForm.valid && ForgotPasswordForm.dirty)"    >send password</button>
     <button mat-raised-button color="primary" mat-dialog-close>close</button>
</div>
 -->


 
    <div class="d-flex h-100 justify-content-center align-items-center">
      <div class="mx-auto app-login-box col-md-6">
        <img style="  vertical-align: middle;
        border-style: none;
        border-radius: 80%;
        margin-left: 34%;
        width: 180px" src="assets/images/user/logo2.png"   alt="">
        <div class="modal-dialog w-100">
          <div class="modal-content">
            <div class="modal-header">
              <div class="h5 modal-title">
                Forgot your Password?
                <h6 class="mt-1 mb-0 opacity-8"><span>Use the form below to recover it.</span></h6></div>
            </div>
            <div class="modal-body">
              <div>
             
               
    <form [formGroup]="ForgotPasswordForm">
        <div  class="row">
            <div class="col-md-12">
              
            <mat-form-field style=" width: 430px;" appearance="fill" fxFlex>
                <mat-label>email</mat-label>
                <input matInput   formControlName="email" required>
                <mat-error *ngIf="ForgotPasswordForm.controls.email.touched && ForgotPasswordForm.controls.name.invalid">
                     <span *ngIf="ForgotPasswordForm.controls.email.errors.required">this field is mandatory</span>
                     <span *ngIf="ForgotPasswordForm.controls.email.errors.pattern">this field is invalid</span>
                </mat-error>
                
            </mat-form-field>
        </div>
        </div>
    </form>
                    
              </div>
              <div class="divider"></div>
              <h6 class="mb-0"><a routerLink="/login" class="text-primary">Sign in existing account</a></h6></div>
            <div class="modal-footer clearfix">
              <div class="float-right">
                <button type="button" (click)="handleSubmit()" class="btn btn-primary btn-lg"  [disabled]="!(ForgotPasswordForm.valid && ForgotPasswordForm.dirty)">Recover Password</button>
              </div>
              <a routerLink="/" class="text-dark font-weight-bold">return to home page</a>
            </div>
          </div>
        </div>
        <div class="text-center text-white opacity-8 mt-3">
          Copyright © ArchitectUI 202 M.E.S
        </div>
      </div>
    </div>

  