.mat-toolbar{
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
    background-color: teal;
    
}

.title-center{
    flex: 1 1 auto;
    text-align: center;
}

mat-form-fieled{
    padding: 5px;
}
.button {
    background: #1161ee
  }